__pycache__/
*.pyc
.venv/
venv/
.env
.ipynb_checkpoints/
data/raw/*
data/interim/*
data/processed/*
data/gold/*
data/model_outputs/*
data/portal_outputs/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/gold/.gitkeep
!data/model_outputs/.gitkeep
!data/portal_outputs/.gitkeep
*.csv
*.parquet
*.feather
*.pkl
*.joblib
*.zip
*.gz
logs/
*.log
.DS_Store
Thumbs.db
