[Unit]
Description=Run StockML synchronized intraday trading clock during market coverage

[Timer]
OnCalendar=Mon..Fri *-*-* 00..23:0/5:00 UTC
Persistent=true
Unit=stockml-intraday-trading-clock.service

[Install]
WantedBy=timers.target
