{% extends "base.html" %}
{% block content %}
<section class="trading-console">
  {% include "trading/_zones/_header.html" %}
  {% include "trading/_zones/_cadence.html" %}
  {% include "trading/_zones/_pipeline_freshness.html" %}
  {% include "trading/_zones/_kpi.html" %}
  {% include "trading/_zones/_basket_integrity.html" %}
  {% include "trading/_zones/_monitor_activity.html" %}
  {% include "trading/_zones/_action_queue.html" %}
  {% include "trading/_zones/_positions.html" %}
  {% include "trading/_zones/_run_summary.html" %}
  {% include "trading/_zones/_basket.html" %}
  {% include "trading/_zones/_rejected.html" %}
  {% include "trading/_zones/_shortlist.html" %}
  {% include "trading/_zones/_diagnostics.html" %}
</section>
{% endblock %}
